form{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



form input{
  width: 100%;
  margin: 1rem 0;
  padding: 1rem .5rem;
  font-size: inherit;
  font-family: inherit;
  border:1px solid $primary;
  color: $secondary;
  transition: ease .4s all;
  border-radius: 0;
  &:focus{
    transform: scale(1.05);
    transition: ease .4s all;
  }
  @media (min-width: $tablet){
    width: 50%;
  }
}

textarea{
  resize: none;
  width: 100%;
  padding: 1rem .5rem;
  margin: 1rem 0;
  border:1px solid $primary;
  font-size: inherit;
  font-family: inherit;
  color: $secondary;
  transition: ease .4s all;
  border-radius: 0;
  &:focus{
    transform: scale(1.05);
    transition: ease .4s all;
  }
  @media (min-width: $tablet){
    width: 50%;
  }
}

input[type=submit]{
  background-color: transparent;
  &:hover{
    transform: scale(1.02);
    cursor: pointer;
    animation: pulse 2s infinite ;
  }
}

@keyframes pulse  {
  0%{
    box-shadow: 0 0 0 0 rgba($secondary, .5);
  }
  70%{
    box-shadow: 0 0 0 20px rgba($secondary, .0);
  }
  100%{
    box-shadow: 0 0 0 40px rgba($secondary, 0);
  }
}
