// Colors

$primary: #0f2422;
$secondary: #ff3d3f;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');
$body: Inconsolata, monospace;
$headings: Merriweather, serif;

// Responsive Shiz
$tablet: 768px;
$mobile: 400px;
